# Project for Programming for Data Analysis

## Project Summary

In this project I have choosen a real world scenario do to some investigation using the numpy.random function in order to simulate a dataset, trying to match as closely as possible the real world scenario. I will be detailing my investigation and show the simulated data.

### How to be accepted in a University in the USA

For this project I have choosen the scenario of the how students are accepted by universities in the United States. After research, I have come to conclude that the most important variable related to the acceptance of a student in a University is his GAT score, followed by academic performance, financial statements and student's references, but before going any further I will go over in more depth on what exactly each variable is and how they are calculated, starting with the SAT scores.

#### SAT:

SAT means Scholastic Aptitude Test or Scholastic Assessment Test and was developed and published by the College Board, a private, non-profit organization in the United States. and It's administered by the Educational Testing Service.

The test is intended to assess students' readiness for college, the current SAT, introduced in 2016, takes three hours to finish, plus 50 minutes for the SAT with essay.

The SAT is composed by two sections – Evidence Based Reading and Writing (EBRW), and Math. Students can earn a scaled score of between 200 and 800 points on each section, for a total of 1600 points.

Now, in order to determine what makes for good SAT scores, it’s important to understand how SAT scoring works. A student's total scoure out of 1600 corresponds to a percentile ranking. The percentile tells what percent of students scored better than others. So as an example, if a given student received a 70th-percentile score, he would have scored better than 70% of all test-takers.

After further research I have discovered that the SAT scores follow a normal distribution, meaning that students performance tends to cluster around the middle of the scale. Only fewer students score towards the higher and lower end of the scale.

Now we already know how the score is calculated, but in order to simulate a dataset as closely as possible with the reality we also need to know what are the average score and the minimum score that would be accepted by certain Universities.

After research under some Universities, a 1280 score would be an accepted score for schools like the University of Cincinnati (average SAT 1240), ASU (average SAT 1230), and Temple (average SAT 1220). But it would be a very low score for highly selective institutions like MIT, CalTech, Duke, University of Chicago, or Johns Hopkins, for example.

Although, some other schools are not super selective, and have lower average scores, a score like 1040 would still be a good score for schools like UT Rio Grande Valley (average SAT score 1020), Indiana University Northwest (average SAT score 1000) or Flagler College (average SAT score 1030).

The average SAT score can be calculated by states, but for the purpose of this simulation I will use the average of the  National SAT score, which is 1060, along with a standard deviation of 195. 

As for the purporse of the final calculation, this ficticial university would require a SAT score of 1100 to be accepted.


#### Academic performance:

As the SAT scores, the academic performance, or Grade point average (GPA) also has an impact on student's being accepted by a University, and after research on how Universities calculate the academic performance of a student, I have summarized here the proccess which I will be using for the data simulation:

Grades in the US are given in five levels of A, B, C, D and F, each with a grade point from 0 to 4. The academic performance is generally calculated by converting the grades for all the courses graded in the A-F range to grade points, and calculating the weighted average based on the number of credits. 

After some research, I've found that nationally, in the US, the average high school GPA is 3.0, which is considered a B grade. Typically a 3.5-4.0 GPA,  means an A- or A grade, which is expected for admission to top colleges, as an example, student's from Harvard have an average GPA of 3.93. 

For this particular simulation, I will consider the GPA as an normal distribution with an average GPA of 3.0 and standard deviation of 0.25, as for the final passing grade to be accepted, I will be considering it a GPA score of at least 3.2.


#### Financial Statements:

Another factor that is important for a student being accepted is to prove that he or she will be able to pay the tuition fee and living expenses for the entire duration of the studies. Universities may need student's to submit their sponsor’s or bank account statements for a particular period.

Therefore for this simulation I will use the average prices provided from College Board for Public Universities in a four-year course with in-state fees, which are \$9,970 for the tuition fee, plus the value of the room and boarding of an additional \$10,800 which leaves to a total of \$20,770

This variable will be called "fin" and in order for students being accepted, they would need to provide statements with at least \$20,770, otherwise they would have their application denied.

#### References:

This latst factor is also very important, and is required of every applicant that he or she sends reference letters of recommendation from tutors at their school. This will provide the admissions committees with valuable insight into the student's abilities and character, and besides the references each student is supposed to send along an essay, which together provides an important record of the student's achievements.

Reference letters serve one purpose: to convince those reading them that the student belong in their school.

Since the references are basically letters and are difficult to calculate a student's passing rate, for this particular simulation, this variable will be categorical with four possible values: "fail", "reasonable", "good" and "perfect", and all of the last three values would mean student's were accepted and the "fail" would be the only variable meaning that the student wasn't accepted.

### Data Simulation

In this section I will go over the simulation of this scenario, considering that there is 500 students applying for the same course in a given University, and in the end of analysis, I will calculate how many would be be accepted.

In [1]:
#importing numpy
import numpy as np

# Create data for sat scores using a normal distribution
sat = np.random.normal(1060, 195, 500)
sat

#save list to a csv file
import pandas as pd 
sat_df = pd.DataFrame(sat, columns=['Score'])
sat_df.to_csv("sat_df.csv")


sat_df

           Score
0    1052.036281
1    1224.397345
2     707.463154
3    1128.308918
4     761.427653
5     879.665106
6    1315.460867
7    1152.449450
8     926.000090
9    1189.614253
10   1321.731525
11   1087.722524
12   1250.085513
13    845.148543
14    979.056002
15   1286.671500
16   1383.865989
17    588.876083
18    969.663978
19   1092.951858
20    873.881667
21    957.036638
22    954.064794
23   1084.884164
24    953.833442
25    957.024750
26   1154.394440
27    957.859193
28    665.495069
29    950.042918
..           ...
470   898.921492
471  1084.738595
472  1320.156506
473   953.170376
474  1005.984022
475  1003.824908
476  1336.273354
477   780.837999
478   774.541402
479  1316.388088
480   952.136410
481  1222.843327
482   919.484635
483  1047.852147
484  1160.671200
485  1058.286390
486   999.592803
487  1329.524750
488   939.097344
489   972.751964
490  1364.555293
491  1093.705090
492  1227.778514
493   801.288523
494  1119.002838
495   933.698132
496  1165.348073
497  1192.439047
498  1100.618234
499   525.645195

[500 rows x 1 columns]

In [2]:
# Create data for academic performance
gpa = np.random.normal(3.0, 0.25, 500)
gpa

#save list to a csv file
gpa_df = pd.DataFrame(gpa, columns=['GPA'])
gpa_df.to_csv("gpa_df.csv")
gpa_df.head()

        GPA
0  2.868107
1  3.097127
2  3.368988
3  2.681589
4  2.788406

In [3]:
#create data for financial statements
fin = np.random.normal(20.770, 0.25, 500)

#save list to a csv file
fin_df = pd.DataFrame(fin, columns=['Financials'])
fin_df.to_csv("fin_df.csv")
fin_df.head()

   Financials
0   21.170463
1   20.756681
2   21.174966
3   20.549937
4   20.976275

In [4]:
#create data for references
outcomes = ['fail', 'reasonable', 'good', 'perfect']
#created a probability for each string, leaving a higher probability for 'reasonable' and 'good'
prob = [0.1, 0.4, 0.4, 0.1]
ref = np.random.choice(outcomes, 500, p=prob)

#save list to a csv file
ref_df = pd.DataFrame(ref, columns=['References'])
ref_df.to_csv("ref_df.csv")
ref_df.head()

   References
0     perfect
1  reasonable
2  reasonable
3        good
4     perfect

### Calculating how many students were actually accepted out of the 500

In [5]:
#first regarding the students that passed the SAT, how many passed the GPA:

#filtering the admitted students that have a SAT score greater than 1100
sat_admitted = [i for i in sat_df['Score'] if i >= 1100]
sat_admitted_df = pd.DataFrame(sat_admitted, columns=['Score'])
sat_admitted_df

           Score
0    1224.397345
1    1128.308918
2    1315.460867
3    1152.449450
4    1189.614253
5    1321.731525
6    1250.085513
7    1286.671500
8    1383.865989
9    1154.394440
10   1214.278138
11   1161.103841
12   1165.509479
13   1117.308724
14   1296.149746
15   1297.944166
16   1284.395228
17   1223.099725
18   1247.512959
19   1325.340683
20   1309.868657
21   1124.279456
22   1186.405112
23   1436.593398
24   1222.366271
25   1195.136587
26   1221.318279
27   1120.020936
28   1316.613297
29   1231.650038
..           ...
173  1196.450274
174  1393.315555
175  1269.036839
176  1231.930767
177  1198.509805
178  1198.528103
179  1411.468138
180  1179.001987
181  1206.574941
182  1198.595254
183  1396.656098
184  1311.439983
185  1245.994200
186  1146.685550
187  1394.133199
188  1326.143081
189  1305.242471
190  1366.488349
191  1320.156506
192  1336.273354
193  1316.388088
194  1222.843327
195  1160.671200
196  1329.524750
197  1364.555293
198  1227.778514
199  1119.002838
200  1165.348073
201  1192.439047
202  1100.618234

[203 rows x 1 columns]

In [6]:
# Merging both dfs now