# Project for Programming for Data Analysis

## Project Summary

In this project I have choosen a real world scenario do to some investigation using the numpy.random function in order to simulate a dataset, trying to match as closely as possible the real world scenario. I will be detailing my investigation and show the simulated data.

### How to be accepted in a University in the USA

For this project I have choosen the scenario of the how students are accepted by universities in the United States. After research, I have come to conclude that the most important variable related to the acceptance of a student in a University is his GAT score, followed by academic performance, financial statements and student's references, but before going any further I will go over in more depth on what exactly each variable is and how they are calculated, starting with the SAT scores.

#### SAT:

SAT means Scholastic Aptitude Test or Scholastic Assessment Test and was developed and published by the College Board, a private, non-profit organization in the United States. and It's administered by the Educational Testing Service.

The test is intended to assess students' readiness for college, the current SAT, introduced in 2016, takes three hours to finish, plus 50 minutes for the SAT with essay.

The SAT is composed by two sections – Evidence Based Reading and Writing (EBRW), and Math. Students can earn a scaled score of between 200 and 800 points on each section, for a total of 1600 points.

Now, in order to determine what makes for good SAT scores, it’s important to understand how SAT scoring works. A student's total scoure out of 1600 corresponds to a percentile ranking. The percentile tells what percent of students scored better than others. So as an example, if a given student received a 70th-percentile score, he would have scored better than 70% of all test-takers.

After further research I have discovered that the SAT scores follow a normal distribution, meaning that students performance tends to cluster around the middle of the scale. Only fewer students score towards the higher and lower end of the scale.

Now we already know how the score is calculated, but in order to simulate a dataset as closely as possible with the reality we also need to know what are the average score and the minimum score that would be accepted by certain Universities.

After research under some Universities, a 1280 score would be an accepted score for schools like the University of Cincinnati (average SAT 1240), ASU (average SAT 1230), and Temple (average SAT 1220). But it would be a very low score for highly selective institutions like MIT, CalTech, Duke, University of Chicago, or Johns Hopkins, for example.

Although, some other schools are not super selective, and have lower average scores, a score like 1040 would still be a good score for schools like UT Rio Grande Valley (average SAT score 1020), Indiana University Northwest (average SAT score 1000) or Flagler College (average SAT score 1030).

The average SAT score can be calculated by states, but for the purpose of this simulation I will use the average of the  National SAT score, which is 1060, along with a standard deviation of 195. 

As for the purporse of the final calculation, this ficticial university would require a SAT score of 1100 to be accepted.


#### Academic performance:

As the SAT scores, the academic performance, or Grade point average (GPA) also has an impact on student's being accepted by a University, and after research on how Universities calculate the academic performance of a student, I have summarized here the proccess which I will be using for the data simulation:

Grades in the US are given in five levels of A, B, C, D and F, each with a grade point from 0 to 4. The academic performance is generally calculated by converting the grades for all the courses graded in the A-F range to grade points, and calculating the weighted average based on the number of credits. 

After some research, I've found that nationally, in the US, the average high school GPA is 3.0, which is considered a B grade. Typically a 3.5-4.0 GPA,  means an A- or A grade, which is expected for admission to top colleges, as an example, student's from Harvard have an average GPA of 3.93. 

For this particular simulation, I will consider the GPA as an normal distribution with an average GPA of 3.0 and standard deviation of 0.25, as for the final passing grade to be accepted, I will be considering it a GPA score of at least 3.2.


#### Financial Statements:

Another factor that is important for a student being accepted is to prove that he or she will be able to pay the tuition fee and living expenses for the entire duration of the studies. Universities may need student's to submit their sponsor’s or bank account statements for a particular period.

Therefore for this simulation I will use the average prices provided from College Board for Public Universities in a four-year course with in-state fees, which are \$9,970 for the tuition fee, plus the value of the room and boarding of an additional \$10,800 which leaves to a total of \$20,770

This variable will be called "fin" and in order for students being accepted, they would need to provide statements with at least \$20,770, otherwise they would have their application denied.

#### References:

This latst factor is also very important, and is required of every applicant that he or she sends reference letters of recommendation from tutors at their school. This will provide the admissions committees with valuable insight into the student's abilities and character, and besides the references each student is supposed to send along an essay, which together provides an important record of the student's achievements.

Reference letters serve one purpose: to convince those reading them that the student belong in their school.

Since the references are basically letters and are difficult to calculate a student's passing rate, for this particular simulation, this variable will be categorical with four possible values: "fail", "reasonable", "good" and "perfect", and all of the last three values would mean student's were accepted and the "fail" would be the only variable meaning that the student wasn't accepted.

### Data Simulation

In this section I will go over the simulation of this scenario, considering that there is 500 students applying for the same course in a given University, and in the end of analysis, I will calculate how many would be be accepted.

In [1]:
#importing numpy
import numpy as np

# Create data for sat scores using a normal distribution
sat = np.random.normal(1060, 195, 500)
sat

#save list to a csv file
import pandas as pd 
sat_df = pd.DataFrame(sat)
sat_df.to_csv("sat_df.csv", header=['Score'])


sat_df

               0
0    1015.820836
1     869.793432
2     953.979990
3    1001.628180
4    1177.491045
5    1358.469136
6     784.390314
7    1183.276899
8    1378.383055
9    1022.142766
10    895.222137
11   1065.364195
12   1229.157861
13   1351.629394
14    967.472450
15   1137.142885
16   1155.959679
17   1245.095101
18   1029.173019
19   1169.428188
20   1215.177627
21    864.287530
22   1285.077390
23    858.275635
24    903.519620
25   1030.613101
26   1334.057760
27   1230.416008
28    888.640117
29    864.205086
..           ...
470  1499.202656
471  1332.566942
472  1131.413568
473  1228.205809
474  1150.284646
475  1001.734823
476  1455.560138
477   921.894753
478  1151.801323
479   927.711578
480   934.176876
481   986.525689
482  1327.731658
483   787.835742
484  1191.233420
485  1312.286084
486   687.745817
487  1369.072098
488  1294.753254
489  1044.407973
490  1260.918011
491  1323.429433
492  1254.193679
493  1000.611696
494  1341.995924
495   701.476906
496  1086.806044
497  1062.459586
498   740.972052
499   875.871693

[500 rows x 1 columns]

In [2]:
# Create data for academic performance
gpa = np.random.normal(3.0, 0.25, 500)
gpa

#save list to a csv file
gpa_df = pd.DataFrame(gpa)
gpa_df.to_csv("gpa_df.csv", header=['GPA'])
gpa_df

            0
0    2.892174
1    3.442885
2    2.766644
3    2.863206
4    3.004766
5    3.061056
6    2.850446
7    3.231950
8    2.955057
9    3.215805
10   3.213989
11   2.591420
12   2.992538
13   2.955096
14   2.752242
15   3.075012
16   2.433505
17   3.055206
18   3.103685
19   3.294742
20   2.885793
21   3.255650
22   2.756732
23   2.478624
24   3.505119
25   3.001745
26   3.200307
27   2.996829
28   3.243216
29   3.044706
..        ...
470  2.542728
471  3.212320
472  3.286747
473  2.499068
474  3.091168
475  2.833489
476  3.296233
477  3.206772
478  2.923258
479  3.114654
480  3.222893
481  2.820352
482  2.920371
483  3.093628
484  2.874098
485  3.303813
486  2.920197
487  2.778614
488  3.347641
489  2.874807
490  3.014083
491  3.119157
492  2.916302
493  3.142020
494  3.324087
495  2.945835
496  3.281866
497  2.735224
498  3.462607
499  3.289230

[500 rows x 1 columns]

In [3]:
#create data for financial statements
fin = np.random.normal(20.770, 0.25, 500)

#save list to a csv file
fin_df = pd.DataFrame(fin)
fin_df.to_csv("fin_df.csv", header=['Financials'])
fin_df

             0
0    20.882102
1    21.202969
2    20.724086
3    20.513210
4    20.618222
5    20.899820
6    20.604385
7    20.772408
8    20.857231
9    20.880493
10   21.181446
11   21.092977
12   20.672130
13   20.942021
14   20.678919
15   20.484240
16   20.989536
17   21.012029
18   20.647306
19   20.347502
20   21.039585
21   20.531107
22   20.590829
23   20.707006
24   20.406191
25   20.874705
26   20.819636
27   20.697571
28   20.804330
29   20.671603
..         ...
470  20.398964
471  20.521624
472  20.356113
473  21.387747
474  21.169386
475  21.074810
476  20.732263
477  20.371091
478  20.849178
479  21.121782
480  20.958018
481  21.051866
482  20.959742
483  20.636865
484  20.706502
485  21.056119
486  21.303590
487  21.079656
488  20.824749
489  20.671983
490  21.393935
491  20.448913
492  20.362980
493  20.331429
494  20.700661
495  20.843910
496  20.702466
497  20.888973
498  20.743570
499  20.874811

[500 rows x 1 columns]

In [4]:
#create data for references
outcomes = ['fail', 'reasonable', 'good', 'perfect']
#created a probability for each string, leaving a higher probability for 'reasonable' and 'good'
prob = [0.1, 0.4, 0.4, 0.1]
ref = np.random.choice(outcomes, 500, p=prob)

#save list to a csv file
ref_df = pd.DataFrame(ref)
ref_df.to_csv("ref_df.csv", header=['References'])
ref_df

              0
0          good
1          fail
2          good
3          good
4    reasonable
5          good
6          good
7       perfect
8       perfect
9    reasonable
10         good
11         good
12         good
13   reasonable
14         good
15   reasonable
16         good
17   reasonable
18         good
19         good
20         good
21         good
22      perfect
23   reasonable
24   reasonable
25   reasonable
26         good
27         good
28         good
29         fail
..          ...
470        good
471        good
472        fail
473        good
474        good
475        good
476        good
477        good
478        fail
479        good
480        good
481        good
482  reasonable
483     perfect
484        fail
485  reasonable
486  reasonable
487  reasonable
488  reasonable
489  reasonable
490     perfect
491  reasonable
492        good
493  reasonable
494     perfect
495        fail
496  reasonable
497     perfect
498     perfect
499  reasonable

[500 rows x 1 columns]

### Calculating how many students were actually accepted out of the 500

In [5]:
#first regarding the sat:
accepted_sat = [i for i in sat if i >= 1100]

#save list to a csv file
sat2_df = pd.DataFrame(accepted_sat)
sat2_df.to_csv("sat2_df.csv", header=['Accepted SAT'])
sat2_df

               0
0    1177.491045
1    1358.469136
2    1183.276899
3    1378.383055
4    1229.157861
5    1351.629394
6    1137.142885
7    1155.959679
8    1245.095101
9    1169.428188
10   1215.177627
11   1285.077390
12   1334.057760
13   1230.416008
14   1273.454524
15   1477.400637
16   1319.363217
17   1233.778972
18   1159.606535
19   1139.296315
20   1291.963201
21   1197.160061
22   1282.690972
23   1421.609644
24   1364.959216
25   1398.110607
26   1181.983608
27   1106.341285
28   1318.647972
29   1320.282620
..           ...
178  1176.585786
179  1101.266775
180  1240.826866
181  1191.045466
182  1275.844498
183  1156.437043
184  1332.045447
185  1440.049338
186  1141.937624
187  1202.955300
188  1265.468186
189  1146.027429
190  1139.392726
191  1240.082576
192  1499.202656
193  1332.566942
194  1131.413568
195  1228.205809
196  1150.284646
197  1455.560138
198  1151.801323
199  1327.731658
200  1191.233420
201  1312.286084
202  1369.072098
203  1294.753254
204  1260.918011
205  1323.429433
206  1254.193679
207  1341.995924

[208 rows x 1 columns]

In [6]:
#Now from the students that passed the SAT, how many passed the GPA:

accepted_gpa =